apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: meme-storage-pvc
  namespace: bots
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard